


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');





.font-face {
    font-family: 'Miama';
    src: url('fonts/miama.woff2') format('woff2'),
         url('fonts/miama.woff') format('woff'),
         url('fonts/miama.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-size: 78px;
}

body {
    font-family: 'Miama', sans-serif;
}





.inter-fonts{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
 
    
    
  }
  .banner-description{
    font-size: 1rem;
  }
  .banner-title{
font-size: 3.25rem;
  }
  .miama-fonts-size{
    font-size: 78px;
  }

  .bg-color{
    background-color: #111111;

  }

  .brand{
    color:#E6533C;
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
  } 

  .display-flex{
    display: flex;
  }

 .nav-item{
    list-style: none;
     margin:  47px;
}
.nav-link{
    text-decoration: none;
   
    font-size: 18px;
}

.fonts-white{
    color:#FFFFFF;
}
.fonts-bg{
background-color: #E6533C;
border-radius: 10px;

}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 600px;
    margin: 0 auto;

}
.btn-pr1{
    background-color: #E6533C;
    color: white;
    padding: 12px 12px;
    font-size: 1.25rem;
    border-radius: 15px;
}
.btn-pr2{
    background-color:black;
    color: white;
    padding: 12px 12px ;
    border-radius:15px;
    font-size: 1.25rem;
}
.banner-image{
    width: auto;
   position: relative;
}
main{
    width: 1044px;
    margin: 0 auto;
}
.change-habits{
color: white
}
.change-habit-title{
font-size: 48px;


}
.habit-font{
    font-size: 1rem;
}
.Video-tutorial{
    font-size: 25px;
    background: rgb(48, 48, 48);
   color: white;
    position: relative;
   transform: translate(-350%,300%);
   
    

}

.Workout{

    font-size: 25px;
    background: rgb(48, 48, 48);
   color: white;
    position: relative;
   transform: translate(-150%,-250%);

}
.vt-font{
    font-size: 20px;
}
.w-font{
    font-size: 15px;
}
.team-img-container{
    display: flex;
    gap: 10px;
    isolation: auto;
   
   
}
.change-habits{
   
    align-items: center;
}

.p1{
    text-align: center;
    
}
.p2{
    clip-path: circle();
}
.change-habits{
    text-align: center;
}
.run{
    color: #FFFFFF;
    background-color: #222222;
    display: flex;
    margin: 50px;
    padding: 50px;
    width: 1060px;
    
}
.run-fonts{
    font-size: 3rem;
}
.run-p-fonts{
    font-size: 1rem;
}
.image-size{
    border: radius 30px;

}
.run2{
    margin: 10px;
    padding: 30px;
}

.text-size-team{
    font-size: 3rem ;
    
    
}
.meet-our-team{
    color: white;
    margin: 50px;
    text-align: center;
    width: 1160px ;
    background-color: #222222;
   padding-bottom: 2rem;
    
}

.meet-team-img-container{
 display: grid;
 grid-template-columns: repeat(3, 2fr);
 row-gap: 20px;
column-gap: 0;
 border-radius: 15px;
 
}
.text{
 font-size: 12px;
 position: absolute;
 transform: translate(60%,-110%);
 
   
   
   
   
  

}


.footer-font-size{
    font-size: 1rem;
    
}
.real-footer{
    background: #222222;
}
.footer-class{
    color: white;
  
    display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 70px;
  

   
}
.footer-class ul li{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
  

}
  
.footer-fit{
    margin: 30px;
    
   justify-content: center;
    

}
.footer2{
    display: flex;
    
   gap: 80px;
    background: #222222;

    
}

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams,
    .team-img-container,
    .image-size,
    .real-footer,
    .footer2,
    .real-footer
    .meet-team-img-container
    {
        flex-direction: column;
        

    }
   

        


    
}
